@using BusinessLayer;
@model Person

@{
    Layout = null;
}

<!DOCTYPE html>
<h3>@ViewBag.Message</h3>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    
    @using (Html.BeginForm("tryToEdit", "Home"))
    {

    <div style="display:flex;flex-direction:row;justify-content:center;">
        <div style="text-align:center;margin-top:50px; margin-right:5px;">
            
            <p>Name</p>
            <p>Surname</p>
            <p>Birth year</p>
            <p>Role</p>
            <p>Game</p>
            <p>Team</p>
            <p></p>
        </div>
        <div style="text-align:center;">
            <h3>Edit player</h3>

            <p><input type="text" name="id" value=@Model.Id hidden></p>
            <p><input type="text" name="firstname" value=@Model.First_Name></p>
            <p><input type="text" name="lastname" value=@Model.Last_Name></p>
            <p><input type="text" name="bdate" value=@Model.Birth_Date></p>
            <p><input type="text" name="role" value=@Model.Role></p>
            <p><input type="text" name="game" value=@Model.Game_Id.Name></p>
            <p><input type="text" name="team" value=@Model.Team_Id.Name></p>
            <p><input type="submit" value="Edit" /></p>

        </div>
    </div>

    }



</body>
</html>
