@using BusinessLayer;

@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Online esport wiki</h1>
    <p class="lead">School project esport wiki with simple wiki maintenance functionality, web interface and desktop aplication.</p>
    
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Send inquiry</h2>
        <form method="POST">
            Description: <br />
            <input type="text" name="desc" id="desc" /><br />
            Text: <br />
            <input type="text" name="text" id="text" /><br />

            <input type="submit" />

        </form>
    </div>





</div>
